<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zqh.crm.mapper.ManageMapper">
    <select id="getManageByName" parameterType="string" resultType="manage">
        SELECT id,manageName,managePsw FROM manage WHERE manageName=#{manageName}
    </select>

</mapper>